SECRET_KEY = secret_key

DEBUG=True
ALLOWED_HOSTS=your-domain.com,www.your-domain.com

DATABASE_NAME=mydatabase
DATABASE_USER=mydatabaseuser
DATABASE_PASSWORD=mypassword
DATABASE_HOST=localhost
DATABASE_PORT=5432

STRIPE_SECRET_KEY=sk_test_....
STRIPE_PUBLISHABLE_KEY=pk_test_....

CELERY_BROKER_URL=redis://....
CELERY_RESULT_BACKEND=redis://....


EMAIL_HOST=....
EMAIL_PORT=...
EMAIL_HOST_USER=....
EMAIL_HOST_PASSWORD=....

DOCKER_HUB_USERNAME=...
DOCKER_HUB_ACCESS_TOKEN=...
SSH_PRIVATE_KEY=...
SERVER_USER=...
SERVER_IP=...